Package: util-info
Version: 0.0.3
Architecture: all
Maintainer: Département informatique
Section: science
Priority: optional
Installed-Size: 0
Depends: vim, ntfs-3g, openssh-client, openssl, aptitude, gnuplot, gnuplot-x11
Description: [UVSQ/Sciences/Info] Utilitaires.

