Package: dptinf
Version: 0.0.2
Architecture: all
Maintainer: Département informatique
Section: science
Priority: optional
Installed-Size: 0
Depends: util-info, dev-c, dev-web
Description: [UVSQ/Sciences/Info] Méta-paquet pour les enseignements du département informatique.
 Ce paquet dépend de l'ensemble des paquets des enseignements du département informatique.

