Package: ufrsciences
Version: 0.0.2
Architecture: all
Maintainer: Département informatique
Section: science
Priority: optional
Installed-Size: 0
Depends: libreoffice, chromium-browser, firefox, flashplugin-nonfree, filezilla, vlc, musescore, r-base, r-cran-rcmdr, scilab, gimp, texlive, texlive-lang-french, texlive-extra-utils, texlive-science, geany
Description: [UVSQ/Sciences] Méta-paquet pour les enseignements de l'UFR des sciences.

