Package: m1215
Version: 0.0.2
Architecture: all
Maintainer: Département informatique
Section: science
Priority: optional
Installed-Size: 0
Depends: dev-web, nodejs, nodejs-legacy, npm, sqlite3, git-gui, gitk, git-cola
Description: [UVSQ/Sciences/Info] Node.js and git tools for the WAS course

